
body {
  background-image: url("images/cellarbg.PNG");
  background-size: cover
}
.item-header{
  color: gray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container-header{
  background-color: rgb(117, 86, 29);
}

.master-container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
}




.container-meny {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    border-radius: 10px;
    
    
  }

  .item-meny {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(104, 63, 36);
    width: 32%;
    padding-bottom: 1px;
    padding-top: 10px;
    margin-bottom:1%; 
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .item-meny:hover{
      background-color: rgb(102, 78, 41);
  }
